/*  Fonts  */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap');


/* General CSS */
body{
    background: #fff;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}

a{
    color: #7fc6e6 !important;
}

h1, h2, h3{
    margin: 0 !important;
}


#info-banner{
    background-color: #5385b8;
    text-align: center;
    padding: 10px 0;
}

#info-banner h3{
    color: #fff;
    font-size: 35px;
    font-family: "Dancing Script", cursive;
}

#container{
    height: 100%;
}

#info-header{
    width: 100%;
    height: 500px;
    position: relative;
    background: url('../images/house.jpg') no-repeat bottom center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    line-height: 1 !important;
}

#info-header .caption{
    width: 92.73%;
    position: absolute;
    text-align: center;
    top: 40%;
    margin: -85px 4% 0;
    z-index: 10;
}

#info-header .caption h2{
    font-size: 75px;
    color: #fff;
    font-weight: lighter;
    margin: 0;
    position: relative;
    display: block;
    font-weight: bold;
}

#info{
    background-color: #5385b8;
    color: #fff;
}

#info-body{
    padding: 10px 25px;
}

.info-text{
    margin: 10px auto;
}

.info-text:first-of-type::first-letter{
    font-family: serif;
    font-weight: bolder;
    font-size: 30px;
}

#main{
    display: block;
    text-align: center;
    border: 5px solid #5385b8;
}

.main-body{
    display: block;
    padding: 5px 25px;
    margin: 20px auto;
    text-align: center;
}

.main-body .text{
    text-align: left;
    margin-top: 10px;
}

.main-body div ul{
    margin-left: 15px;
}

#main-footer{
    text-align: left;
    background-color: #5385b8;
}

.footer{
    color: #fff;
    padding: 10px 25px;
}

/*Responsive Design */
@media only screen and (min-width:500px){
    #info-header .caption h2{
      font-size: 85px;
    }

    .main-body .text{
        text-align: center;
    }
}

@media only screen and (min-width:610px){
    #info-header .caption h2{
        font-size: 95px;
    }

    #info-banner h3{
        font-size: 40px;
    }

    #main-footer address{
        display: flex;
        display: -webkit-flex;
        align-items: center;
    }

    #main-footer address .addr_1{
        margin-right: 20%;
    }

    #main-footer .crights{
        text-align: center;
    }
}

@media only screen and (min-width:768px){
    #container{
        max-height: 100%;
        display: block;
    }
    
    #info-header .caption h2{
        font-size: 75px;
    }

    #main-footer address .addr_1{
        margin-right: 25%;
        margin-left: 5%;
    }
}

@media only screen and (min-width:960px){
    #info-banner h3{
        font-size: 45px;
    }

    #info-header .caption{
        padding: 0 4%; 
    }

    #container{
        position: relative;
        background: url('../images/house.jpg') no-repeat bottom center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    
    #page{
        margin: auto 15%;
    }

    #main{
        text-align: center;
    }

    .main-body{
        display: inline-block;
        padding: 5px 15px;
        margin: 10px auto;
    }

    .main-body, .main-body .text{
        text-align: left;
    }

    #main-footer address .addr_1{
        margin-right: 25%;
        margin-left: 14%;
    }    
}

@media only screen and (min-width:1200px){
    #container{
        font-size: 17px;
    }

    #info-body{
        margin: 0 15%;
    }

    #main-footer address .addr_1{
        margin-right: 30%;
        margin-left: 15%;
    }    
}

@media only screen and (min-width:1500px){
    #info-header .caption h2{
        font-size: 85px;
    }

    #main-footer address .addr_1{
        margin-right: 40%;
        margin-left: 15%;
    }    
}
  
